<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="p-3 mb-2 bg-info text-white">
    <div class="container-fluid text-center">
        <h1>Aplicativo de Tarefas</h1>
        <a th:href="@{/tarefas}" class="fas fa-plus text-white">Ir para aplicação</a>
    </div>    
</body>
</html>